/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        Shortcut: Shortcut {
            compatible = "zmk,behavior-hold-tap";
            label = "SHORTCUT";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
        };

        longPress: longPress {
            compatible = "zmk,behavior-hold-tap";
            label = "LONGPRESS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Mac {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Mac";
            bindings = <
&trans  &kp Q                  &kp W                  &kp E                    &kp R                        &Shortcut 2 T                 &kp Y                   &kp U  &kp I                     &kp O                   &kp P                           &trans
&trans  &longPress LEFT_GUI A  &longPress LEFT_ALT S  &longPress LEFT_SHIFT D  &kp F                        &kp G                         &kp H                   &kp J  &longPress RIGHT_SHIFT K  &longPress RIGHT_ALT L  &longPress RIGHT_GUI SEMICOLON  &trans
&trans  &longPress LG(Z) Z     &kp X                  &longPress LG(C) C       &longPress LG(V) V           &kp B                         &longPress LG(LS(N)) N  &kp M  &longPress COMMA DOT      &kp SLASH               &kp SQT                         &trans
                                                      &kp TAB                  &longPress ESCAPE BACKSPACE  &longPress LG(SPACE) SPACE    &kp RET                 &to 1  &to 2
            >;
        };

        Sym {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Sym";
            bindings = <
&trans  &longPress EXCL NUMBER_1  &longPress AT NUMBER_2  &longPress HASH NUMBER_3  &longPress DLLR NUMBER_4  &longPress PRCNT NUMBER_5    &longPress CARET NUMBER_6    &longPress AMPS N7          &longPress ASTRK N8          &longPress LPAR N9  &longPress RPAR N0     &trans
&trans  &sys_reset                &trans                  &bt BT_SEL 0              &bt BT_SEL 2              &bt BT_SEL 4                 &kp MINUS                    &longPress UP_ARROW EQUAL   &kp LBKT                     &kp RBKT            &longPress GRAVE BSLH  &trans
&trans  &studio_unlock            &trans                  &bt BT_SEL 1              &bt BT_SEL 3              &bt BT_CLR                   &longPress LEFT_ARROW UNDER  &longPress DOWN_ARROW PLUS  &longPress RIGHT_ARROW LBRC  &kp RBRC            &kp PIPE               &trans
                                                          &trans                    &trans                    &trans                       &trans                       &to 0                       &to 2
            >;
        };

        Trd {
            // -----------------------------------------------------------------------------------------
            // |      | LCLK| RCLK| MCLK|     |     |   |     |     |     |     |     |      |
            // |      |     | M_UP|     |     |     |   |     | S_UP|     |     |     |      |
            // |      | M_LT| M_DN| M_RT|     |     |   | S_LT| S_DN| S_RT|     |     |      |
            //                    |     |     |     |   |     |     |     |

            display-name = "Trd";
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP     &msc SCRL_RIGHT  &trans  &trans
&trans  &kp NUMBER_4  &kp N5        &msc SCRL_UP      &kp MINUS          &kp PLUS            &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &trans           &trans  &trans
&trans  &to 0         &to 1         &msc SCRL_DOWN    &trans             &kp ENTER           &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans           &trans  &trans
                                    &kp LC(NUMBER_1)  &kp LC(NUMBER_2)   &kp LC(NUMBER_3)    &trans          &to 1           &to 0
            >;
        };
    };
};
